In [33]:
import pandas as pd

In [34]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head(10) #to view last x numbers us tail(x)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
5          5     Wilson High School   Charter  2283  1319574
6          6    Cabrera High School   Charter  1858  1081356
7          7     Bailey High School  District  4976  3124928
8          8     Holden High School   Charter   427   248087
9          9       Pena High School   Charter   962   585858

In [35]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [36]:
# Determine if there are any missing values in the school data.
#school_data_df.count()

In [37]:
# Determine if there are any missing values in the student data.
#student_data_df.count()

In [38]:
# Determine if there are any missing values in the school data.
#school_data_df.isnull()

In [39]:
# Determine if there are any missing values in the student data.
#student_data_df.isnull().sum()

# Determine if there are not any missing values in the student data.
#student_data_df.notnull().sum()

In [40]:
# Determine data types for the budget column in the school DataFrame.
#school_data_df.budget.dtypes

In [41]:
# Determine data types for the student DataFrame.
#student_data_df.dtypes

In [42]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

#student_data_df.head()

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

In [43]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [44]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
print(f"number of students: {student_count:,}")

# Get the total number of schools
school_count = len(school_data_complete_df["school_name"].unique())
print(f"number of schools: {school_count}")

# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
print(f"total budget: ${total_budget:,}")

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
print(f"average reading score: {average_reading_score:.2f}")

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
print(f"average math score: {average_math_score:.2f}")

number of students: 39,170
number of schools: 15
total budget: $24,649,428
average reading score: 81.88
average math score: 78.99

## Determine percentage of students who passed math and reading

In [45]:
pass_math = school_data_complete_df["math_score"] >= 70
pass_reading = school_data_complete_df["reading_score"] >= 70

# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[pass_math]
# Get all students who are passing reading in a new DataFrame
passing_reading = school_data_complete_df[pass_reading]


# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(f"percentage of students passing math: {passing_math_percentage:.2f}% ({passing_math_count:,})")
print(f"percentage of students passing reading: {passing_reading_percentage:.2f}% ({passing_reading_count:,})")

percentage of students passing math: 74.98% (29,370)
percentage of students passing reading: 85.81% (33,610)

In [46]:
# Calculate the students who passed both math and reading
passing_math_reading = school_data_complete_df[pass_math & pass_reading]
#passing_math_reading.head()

# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
print(f"percentage of students passing math and reading: {overall_passing_percentage:.2f}%")

percentage of students passing math and reading: 65.17%

In [47]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [48]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [49]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [50]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [51]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

## Generate School summary

In [52]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
#per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [53]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
#df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [54]:
# Calculate the total student count.
#_school_counts = school_data_df.set_index(["school_name"])["size"]

# Using value_counts to find student count
per_school_counts = school_data_complete_df["school_name"].value_counts()
#per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [55]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
#per_school_budget

# Calculate the school budget per student
per_school_capita = per_school_budget/per_school_counts
#per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [56]:
# Calculate averages for each school
per_school_averages = school_data_complete_df.groupby("school_name").mean()

per_school_math = per_school_averages["math_score"]
per_school_reading = per_school_averages["reading_score"]

## Passing percentages

In [64]:
 # To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = passing_math.groupby("school_name").count()["student_name"]
per_school_passing_reading = passing_reading.groupby("school_name").count()["student_name"]
 
# 3. Get the students who passed math and passed reading
per_passing_math_reading = passing_math_reading.groupby("school_name").count()["student_name"]
#per_passing_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [62]:
# Calculate the percentage of passing math and reading scores per school.
per_school_percentage_math = per_school_passing_math / per_school_counts * 100

per_school_percentage_reading = per_school_passing_reading / per_school_counts * 100
#per_school_percentage_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [67]:
# Calculate the students who passed both math and reading.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
#per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

# School Summary DataFrame

In [68]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,3318,4077,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1871,2172,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,90.599455