In [1]:
import pandas as pd

In [2]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head(10) #to view last x numbers us tail(x)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
5          5     Wilson High School   Charter  2283  1319574
6          6    Cabrera High School   Charter  1858  1081356
7          7     Bailey High School  District  4976  3124928
8          8     Holden High School   Charter   427   248087
9          9       Pena High School   Charter   962   585858

In [3]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Determine if there are any missing values in the school data.
#school_data_df.count()

In [5]:
# Determine if there are any missing values in the student data.
#student_data_df.count()

In [6]:
# Determine if there are any missing values in the school data.
#school_data_df.isnull()

In [7]:
# Determine if there are any missing values in the student data.
#student_data_df.isnull().sum()

# Determine if there are not any missing values in the student data.
#student_data_df.notnull().sum()

In [8]:
# Determine data types for the budget column in the school DataFrame.
#school_data_df.budget.dtypes

In [9]:
# Determine data types for the student DataFrame.
#student_data_df.dtypes

In [10]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

#student_data_df.head()

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

In [11]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
print(f"number of students: {student_count:,}")

# Get the total number of schools
school_count = len(school_data_complete_df["school_name"].unique())
print(f"number of schools: {school_count}")

# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
print(f"total budget: ${total_budget:,}")

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
print(f"average reading score: {average_reading_score:.2f}")

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
print(f"average math score: {average_math_score:.2f}")

number of students: 39,170
number of schools: 15
total budget: $24,649,428
average reading score: 81.88
average math score: 78.99

## Determine percentage of students who passed math and reading

In [13]:
pass_math = school_data_complete_df["math_score"] >= 70
pass_reading = school_data_complete_df["reading_score"] >= 70

# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[pass_math]
# Get all students who are passing reading in a new DataFrame
passing_reading = school_data_complete_df[pass_reading]


# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(f"percentage of students passing math: {passing_math_percentage:.2f}% ({passing_math_count:,})")
print(f"percentage of students passing reading: {passing_reading_percentage:.2f}% ({passing_reading_count:,})")

percentage of students passing math: 74.98% (29,370)
percentage of students passing reading: 85.81% (33,610)

In [14]:
# Calculate the students who passed both math and reading
passing_math_reading = school_data_complete_df[pass_math & pass_reading]
#passing_math_reading.head()

# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
print(f"percentage of students passing math and reading: {overall_passing_percentage:.2f}%")

percentage of students passing math and reading: 65.17%

In [15]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [17]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [18]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [19]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

## Generate School summary

In [20]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
#per_school_types

In [21]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
#df

In [22]:
# Calculate the total student count.
#_school_counts = school_data_df.set_index(["school_name"])["size"]

# Using value_counts to find student count
per_school_counts = school_data_complete_df["school_name"].value_counts()
#per_school_counts

In [23]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
#per_school_budget

# Calculate the school budget per student
per_school_capita = per_school_budget/per_school_counts
#per_school_capita

In [24]:
# Calculate averages for each school
per_school_averages = school_data_complete_df.groupby("school_name").mean()

per_school_math = per_school_averages["math_score"]
per_school_reading = per_school_averages["reading_score"]

## Passing percentages

In [25]:
 # To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = passing_math.groupby("school_name").count()["student_name"]
per_school_passing_reading = passing_reading.groupby("school_name").count()["student_name"]
 
# 3. Get the students who passed math and passed reading
per_passing_math_reading = passing_math_reading.groupby("school_name").count()["student_name"]
#per_passing_math_reading

In [26]:
# Calculate the percentage of passing math and reading scores per school.
per_school_percentage_math = per_school_passing_math / per_school_counts * 100

per_school_percentage_reading = per_school_passing_reading / per_school_counts * 100
#per_school_percentage_math

In [27]:
# Calculate the students who passed both math and reading.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
#per_overall_passing_percentage

# School Summary DataFrame

In [28]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})

# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Reorder the columns in the order you want them to appear.
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
per_school_summary_df = per_school_summary_df[new_column_order]

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,90.599455

In [33]:
# Sort and show top five schools
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,923,90.540541

In [34]:
#Sort and show bottom five schools
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"])
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,53.539172

Average scores for each grade

In [42]:
# Create grade level DataFrames
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [49]:
# Average math scores per grade
ninth_grade_math_scores = ninth_graders.groupby("school_name").mean()['math_score']
tenth_grade_math_scores = tenth_graders.groupby("school_name").mean()['math_score']
eleventh_grade_math_scores = eleventh_graders.groupby("school_name").mean()['math_score']
twelfth_grade_math_scores = twelfth_graders.groupby("school_name").mean()['math_score']

# Average reading scores per grade
ninth_grade_reading_scores = ninth_graders.groupby("school_name").mean()['reading_score']
tenth_grade_reading_scores = tenth_graders.groupby("school_name").mean()['reading_score']
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name").mean()['reading_score']
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name").mean()['reading_score']

#twelfth_grade_reading_scores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [52]:
# Combine each grade level Series for average math scores by school into a single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

# Combine each grade level Series for average reading scores by school into a single DataFrame.
reading_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_reading_scores,
               "10th": tenth_grade_reading_scores,
               "11th": eleventh_grade_reading_scores,
               "12th": twelfth_grade_reading_scores})

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [57]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

# Remove the index name.
math_scores_by_grade.index.name = None
# Display the DataFrame.
math_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [58]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0